@font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    font-weight: 200;
    src: url('https://github.com/juangabrielr4/juangabrielr4/blob/master/ttf/CascadiaCodePL.ttf?raw=true') format('truetype');
}
@font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    font-weight: 400;
    src: url('https://github.com/juangabrielr4/juangabrielr4/blob/master/ttf/CascadiaCodePL.ttf?raw=true') format('truetype');
}
@font-face {
    font-family: "Cascadia Code";
    font-weight: 600;
    src: url('https://github.com/juangabrielr4/juangabrielr4/blob/master/ttf/CascadiaCodePL.ttf?raw=true') format('truetype');
}
@font-face {
    font-family: "Cascadia Code";
    font-weight: 800;
    src: url('https://github.com/juangabrielr4/juangabrielr4/blob/master/ttf/CascadiaCodePL.ttf?raw=true') format('truetype');
}
